
@{
    ViewData["Title"] = "Index";
   
}

<!-- Carousel Start -->
@* @await Component.InvokeAsync("Carousel") *@

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">

            @await Component.InvokeAsync("SliderLeft")
          
        </div>
        <div class="col-lg-4">

            @await Component.InvokeAsync("SliderRight")
           
        </div>
    </div>
</div>

<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
@await Component.InvokeAsync("Category")
<!-- Categories End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        @await Component.InvokeAsync("Product", ProductHeaderType.FeaturedProducts)
    </div>
</div>

<!-- Products End -->

<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
           @await Component.InvokeAsync("SliderBottom")
    </div>
</div>
<!-- Offer End -->

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
    <div class="row px-xl-5">
        @await Component.InvokeAsync("Product", ProductHeaderType.RecentProducts)
    </div>
</div>
<!-- Products End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/ui/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

