@using MultiShop.Business

@model List<SliderDto>

@foreach (SliderDto sliderDto in Model)
{
     <div class="col-md-6">
        <div class="product-offer mb-30" style="height: 300px;">
            <img class="img-fluid" src="@sliderDto.Image" alt="">
            <div class="offer-text">
                <h6 class="text-white text-uppercase">Save 20%</h6>
                <h3 class="text-white mb-3">@sliderDto.Header</h3>
                <a href="" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
    </div>
}
